@model code.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<div class="row">
    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Tạo mới trang</h2>
                <label style="color:red">@ViewBag.Error</label>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "AdminPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Chọn ảnh đại diện</label>
                        <input type="file" name="file">(giới hạn dung lượng 300kb)
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        @Html.TextAreaFor(model => model.PostContent, new { @class = "form-control", id = "content" })
                        <script>
                            var ckeditor = CKEDITOR.replace("content")
                        </script>
                    </div>
                    <button type="submit" class="btn btn-default">Lưu</button>
                }
            </div>
        </div>
    </div>
</div>
