@model IEnumerable<code.Models.Post>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/Content/css/PagedList.css" rel="stylesheet" />
@using PagedList;
@using PagedList.Mvc;

@{PagedList<code.Models.Post> posts = ViewBag.onePageOfSanpham;}
@foreach (var item in posts)
{
    <div id="box-item" class="clearfix">
        <div id="box-item-image">
            <img src="~/Content/images/baiviet/@item.Image" alt="no image" />
        </div>
        <div id="box-item-content">
            <h2>
                <a href="~/bai-viet/@item.Alias">@item.Title</a>
            </h2>
            <p>
                @Html.Raw(item.Description)
            </p>
        </div>

    </div>
}
@Html.PagedListPager((IPagedList)ViewBag.onePageOfSanPham, page => Url.Action("Comment", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)