@model code.Models.Post
@{
    ViewBag.Title = Model.Title;
    string image = "http://trungtamlaixetphcm.com/Content/images/baiviet" + Model.Image;
    ViewBag.Image = image;
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <h1>@Model.Title</h1>
    <br />
    <div class="fb-like" data-href="http://trungtamlaixetphcm.com/bai-viet/@Model.Alias" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <br />
    <br />
    <p>
        @Html.Raw(Model.PostContent)
    </p>
</div>
