@model code.Models.Page
@{
    ViewBag.Title = "Sửa nội dung";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="row">
    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Sửa trang</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label>Tên</label>
                        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", id = "content" })
                        <script>
                            var ckeditor = CKEDITOR.replace("content")
                        </script>
                    </div>
                    <div class="form-group">
                        <label>Thứ tự</label>
                        @Html.EditorFor(model => model.PageOrder, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Đặt làm trang chủ</label>
                        @Html.CheckBoxFor(model => model.IsHomePage)
                    </div>
                    <button type="submit" class="btn btn-default">Lưu</button>
                }
            </div>
        </div>
    </div>
</div>