@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="container">

    <div id="body" class="clearfix">
        <p style="color:red;">
            - Đây là giao diện mẫu: hình ảnh, thông tin được lấy từ google nhằm mục đích minh họa, những thông tin này sẽ thay đổi sau<br />
            - Giao diện hiện thị được trên giao diện điện thoại<br>
            - Mau sắc có thể thay đổi lại cho phù hợp
        </p>
        <br />
        <p>
            Trường Cao đẳng nghề Giao thông vận tải Trung ương III trực thuộc Bộ Giao thông vận tải. Nhiệm vụ chính trị của nhà trường là đào tạo, bồi dưỡng cung cấp nguồn nhân lực có
            trình độ chuyên môn cao cho ngành giao thông vận tải nói riêng và các thành phần kinh tế nói chung, góp phần thực hiện nhiệm vụ công nghiệp hóa, hiện đại hóa đất nước.
        </p>
        <br />
        <div align="center">
            <img align="center" src="http://cvct3.edu.vn/images/slide/santap_sathach_truong.jpg"
                 width="600px" />
        </div>
        <br />
        <p>

            Trường Cao Đẳng Nghề Giao Thông Vận Tải TW III<br />
            Địa chỉ: 73 Văn Cao, Phường Phú Thọ Hòa, Q.Tân Phú, Tp.HCM.<br />
            Điện thoại: (08) 38605088 - Fax: (84.8) 38611567<br />
            Email: caodangnghegtvttw3@yahoo.com.vn<br />
        </p>
        <br />
        <h2>BẢNG GIÁ</h2>
        <br />
        <table id="customers">
            <tr>
                <th>Chương trình</th>
                <th>Miêu tả</th>
                <th>giá</th>
            </tr>
            <tr>
                <td>Chương trình A</td>
                <td>Đây là chương trình A</td>
                <td>1234567</td>
            </tr>
            <tr>
                <td>Chương trình A</td>
                <td>Đây là chương trình A</td>
                <td>1234567</td>
            </tr>
            <tr>
                <td>Chương trình A</td>
                <td>Đây là chương trình A</td>
                <td>1234567</td>
            </tr>
            <tr>
                <td>Chương trình A</td>
                <td>Đây là chương trình A</td>
                <td>1234567</td>
            </tr>
        </table>
        <br /><br /><br /><br /><br /><br />


    </div>
</div>
