@model IEnumerable<code.Models.Post>


<ul class="menu">
    <li class="heading"><a href="~/bai-viet" style="color:white;">Học lái xe</a></li>
    @foreach (var item in Model)
    {
        <li>
            <a style="text-decoration:none;" href="~/bai-viet/@item.Alias" title="@item.Title">@item.Title</a>
        </li>
    }
</ul>