<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.bxslider').bxSlider({
            auto: true,
            default:700,
            mode: 'fade',
            pager: false
        });
    });
</script>
@{List<string> listImage = ViewBag.FileNames as List<string>;}
<div style="height:250px;width:100%;">
    <ul class="bxslider">
        @foreach(string name in listImage)
        {
            <li><img src="~/Content/images/slider/@name" width="1080" height="250"/></li>
        }
    </ul>
</div>