<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.bxslider').bxSlider({
            auto: true,
            autoControls: false,
            pager: false
        });
    });
</script>

<div style="height:250px;width:1080px;">
    <ul class="bxslider">
        <li><img src="http://trungtamdongtien.com/upload/hinhanh/258991933036353_1000x300.png" width="1080" height="250"/></li>
        <li><img src="http://trungtamdongtien.com/upload/hinhanh/892352339377753_1000x300.jpg" width="1080" height="250" /></li>
        <li><img src="http://trungtamdongtien.com/upload/hinhanh/4522498930001030_1000x300.jpg" width="1080" height="250" /></li>
        <li><img src="http://trungtamdongtien.com/upload/hinhanh/9205939803367650_1000x300.png" width="1080" height="250" /></li>
    </ul>
</div>