@{
    ViewBag.Title = "ImageManager";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<div class="row">

    <div class="col-md-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Trình quản lí ảnh</h2>
            </div>
            <div class="panel-body">
                <script type="text/javascript">
                    var finder = new CKFinder();
                   // finder.basePath = '/ckfinder/';
                    // Setting custom width and user language.
                    finder.create({ width: 900,height:500, language: 'en' });
                </script>
            </div>
        </div>
    </div>
</div>
