body{
	background-color:#ccc;
	font-family: arial, sans-serif;
	line-height: 150%;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, input, form, fieldset, label, a:link, a:hover {padding: 0;margin: 0}

#container{
	width: 1080px;
	margin: 0 auto;
	background-color: #FFF;
	padding:40px;
}

/*-----header-----*/
#header{
	background-color: #fff;
	width: 1160px;
	margin: 0 auto;
}
#header img{width:100%;
height:100%;
}
#header h1 a{
	display:block;
	margin-left:10%;
	padding:30px;
	font-weight:bolder;
	font-size:40px;
	text-decoration:none;
	border-bottom:1px solid #fff;
}
@media only screen and (min-width:900px){
        /* styles for browsers larger than 960px; */
		.nav{
			width: 1160px;
			margin: 0 auto;
			background-color:#EAEAEA;
			
			
			padding:0px;
		}
		.nav-inner{
			width: 1160px;
			margin: 0 auto;
		}
		.nav ul{
			list-style:none;
		}

		.nav ul li{
			width:125px;
			float:left;
			position:relative;
			color:#fff;
		}

		.nav ul li a{
			font-size:16px;
			font-weight:bold;
			text-align:center;
			background-color:#EAEAEA;
			color:#04436f;
			text-decoration:none;
			padding:5px 10px;
			display:block;

		}

		.nav ul li a:hover{
			background-color:blue;
			color:white;
		}

		.nav li > ul{
			display:none;
		}

		.nav li ul li > ul{
			position:absolute;
			left:126px;
			top:0px;
		}

		.nav li:hover > ul{
			display:block;
			position:absolute;
		}

}
/*-----navigation--------*/
.menu-trigger{
	display:none;
}


/*-----content-----*/
#body{
	margin:0px;
	padding:30px 0px 0px 0px;
}

#main{
	width: 880px;
	float:left;
}

#main-inner{
	padding:20px;
	min-height:1000px;
}
.side-trigger{
	display:none;
}
.side{
	width:300px;
	float:left;
}
.side .heading{
	padding:5px;
	font-size:18px;
	color:#fff;
	background: #0054a3 !important;
	
}
.side ul{
	list-style:none;
}
.side ul li{
	border-bottom:1px solid #BFCDF2;
	padding:10px;
}
.side ul li a{
	text-decoration:none;
	color:#267cb2;
	padding:20px 15px;
}
.side-inner{
	background-color:#fff;
	padding:20px;
}

/*-----box item-----*/
#box-item{
	border-bottom:1px solid #BFCDF2;
	padding:10px 0;
}
#box-item-title{
	padding:30px 0;
}
#box-item h2 a{
	font-size:28px;
	font-weight:normal;
	color:#267cb2;
	text-decoration:none;

}

#box-item-image {
	width: 150px;
	float:left;
	font-size:72px;
}
#box-item p{
	margin-top:10px;
}
#box-item-image img{
	width:100%;
}

#box-item-content{
	width: 670px;
	float:left;
	padding-left:20px;
}

#box-item-content h2 a{
	font-size:18px;
	font-weight:normal;
	color:#267cb2;
	text-decoration:none;
}

#footer{
	background-color: #fff;
	width: 1160px;
	margin: 0 auto;
	
    bottom:0;
}

.clear {
	clear: both;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */