body {
    background-color: #ccc;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, input, form, fieldset, label, a:link, a:hover {
    padding: 0;
    margin: 0;
}
@media screen and (max-width:1000px){
    #ads-right{
        display:none;
    }
    #ads-left{
        display:none;
    }
}
#container {
    margin: 0 auto;
    width: 1080px;
    background-color: #FFF;
    padding: 0px;
}

/*-----header-----*/
#header {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 235px;
}

   

#marquee {
    height: 40px;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
}

/* styles for browsers larger than 960px; */
.nav {
    width: 1080px;
    margin: 0 auto;
    background-color: #0054a3;
    padding: 0px;
   margin-top:5px;
}

.nav-inner {
    width: 1080px;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
}

    .nav ul li {
        width: 125px;
        float: left;
        position: relative;
        color: #fff;
    }

        .nav ul li a {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            background-color: #0054a3;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            display: block;
            border-right: 1px solid #fff;
        }

            .nav ul li a:hover {
                background-color: blue;
                color: white;
            }

.nav li > ul {
    display: none;
}

.nav li ul li > ul {
    position: absolute;
    left: 126px;
    top: 0px;
}

.nav li:hover > ul {
    display: block;
    position: absolute;
}


/*-----navigation--------*/
.menu-trigger {
    display: none;
}


/*-----content-----*/
#body {
    margin: 0px;
    padding: 0px;
}

#main {
    width: 740px;
    float: left;
}

#main-inner {
    padding: 20px;
    min-height: 1000px;
}

.side-trigger {
    display: none;
}

.side {
    width: 300px;
    float: left;
}

    .side .heading {
        padding: 5px;
        font-size: 18px;
        color: #fff;
        background: #0054a3 !important;
        text-align: center;
    }

    .side ul {
        list-style: none;
        border: 1px solid #7bb5ec;
    }

        .side ul li {
            border-bottom: 1px solid #BFCDF2;
            padding: 10px;
            font-size: 14px;
        }

            .side ul li a {
                text-decoration: none;
                color: #267cb2;
                padding: 20px 15px;
            }

.side-inner {
    background-color: #fff;
    padding: 20px;
}

/*-----box item-----*/
#box-item {
    border-bottom: 1px solid #BFCDF2;
    padding: 20px 0;
}

#box-item-title {
    padding: 30px 0;
}

#box-item h2 a {
    font-size: 28px;
    font-weight: normal;
    color: #267cb2;
    text-decoration: none;
}

#box-item-image {
    width: 140px;
    float: left;
    font-size: 72px;
}

#box-item p {
    margin-top: 10px;
    font-size:13px;
}

#box-item-image img {
    width: 100%;
}

#box-item-content {
    width: 550px;
    float: left;
    padding-left: 5px;
}

    #box-item-content h2 a {
        font-size: 18px;
        font-weight: normal;
        color: #267cb2;
        text-decoration: none;
    }

.comment-box {
    background-color: #fff;
}

.comment-box-heading{
    padding: 5px;
    font-size: 18px;
    color: #fff;
    background: #0054a3 !important;
    text-align: center;
    width:1070px;
    text-decoration:none;
}
.comment-box-heading a {
    color: #fff;
    text-decoration:none;
}
.comment-box .input {
    border: 1px #E9E9E9 solid;
    azimuth: center;
    width: 250px;
    height: 25px;
}

.comment-box-form {
    float: left;
    width: 500px;
    padding: 35px;
}

.comment-box-show {
    float: left;
    width: 470px;
    padding: 5px;
}
.comment-box-img{
    float:left;
    width:100px;
}
.comment-box-content{
    float:left;
    width:370px;
}
.comment-box-content .title a{
    color:#0054a3;
    font-size:18px;
    font-weight:700;
    text-decoration:none;
}
#footer {
    padding:30px 0;
    background-color: #d7dbe3;
    width: 1080px;
    margin: 0 auto;
    bottom: 0;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */
/* @end */
