<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            @*<li class="text-center">
                    <img src="~/Content/img/find_user.png" class="user-image img-responsive" />
                </li>*@
            <li>
                <a href="~/adminpagemanager"><i class="fa fa-edit fa-3x"></i>Quản lí trang</a>
            </li>
            <li>
                <a href="~/admincontact"><i class="fa fa-edit fa-3x"></i>Thông tin liên hệ</a>
            </li>
            <li>
                <a href="~/adminuser/edit/1"><i class="fa fa-square-o fa-3x"></i>Quản trị viên</a>
            </li>
            <li>
                <a href="~/adminpost/?type=2"><i class="fa fa-square-o fa-3x"></i>Ý kiến khách hàng</a>
            </li>
            <li>
                <a href="~/adminpost/?type=1"><i class="fa fa-square-o fa-3x"></i>Quản lí bài viết</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i>Cài đặt chung<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/adminsetting">Văn bản</a>
                    </li>
                    <li>
                        <a href="~/adminsetting/imagemanager">Quản lí ảnh</a>
                    </li>
                   
                </ul>
            </li>  
        </ul>

    </div>

</nav>   
