<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            @*<li class="text-center">
                    <img src="~/Content/img/find_user.png" class="user-image img-responsive" />
                </li>*@


            <li>
                <a href="~/home"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
            </li>

            <li>
                <a href="~/order"><i class="fa fa-edit fa-3x"></i>Bán hàng</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
            </li>
        </ul>

    </div>

</nav>   
