@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12">
                    <h2>Xin chào</h2>
                </div>
            </div>
        </div>
    </div>
</div>
   
