<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" media="screen and (max-width:900px)" />
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/marquee.js"></script>
    <link href="~/Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        @{Html.RenderAction("header", "Home");}
        @{Html.RenderAction("marquee", "Home");}
        <!-- begin navigation -->
        <!-- end navigation -->
    </div>
   
    @{Html.RenderAction("menu", "Home");}
  
    <div id="container">
        
        @{Html.RenderAction("slider", "Home");}
        <div id="body" class="clearfix">
            <div class="side side-expanded">
                <div class="side-inner">
                    <ul class="menu">
                        <li class="heading">Hỗ trợ trực tuyến</li>
                        <li>
                            <div style="border: 1px solid #7bb5ec; margin-bottom: 5px; padding: 7px; border-radius: 5px;"> 
                                <table style="width: 100%;font-size:12px;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" valign="middle" style="width: 100px;">M01 MR.B <br /> 08. 6684 6998</td>
                                            <td align="center" valign="middle"><a href="ymsgr:sendim?huynh.trungtamdongtien"><img alt="M01 - MR.HUYNH  08. 6684 6998" src="http://trungtamdongtien.com/images/yahoo.png"></a></td>
                                            <td align="center" valign="middle"><a href="skype:?chat"><img src="http://trungtamdongtien.com/images/skype.png" alt="M01 - MR.HUYNH  08. 6684 6998"></a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            
                        </li>
                        <li>
                            <div style="border: 1px solid #7bb5ec; margin-bottom: 5px; padding: 7px; border-radius: 5px;">
                                <table style="width: 100%;font-size:12px;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" valign="middle" style="width: 100px;">M01 MR.A <br /> 08. 6684 6998</td>
                                            <td align="center" valign="middle"><a href="ymsgr:sendim?huynh.trungtamdongtien"><img alt="M01 - MR.HUYNH  08. 6684 6998" src="http://trungtamdongtien.com/images/yahoo.png"></a></td>
                                            <td align="center" valign="middle"><a href="skype:?chat"><img src="http://trungtamdongtien.com/images/skype.png" alt="M01 - MR.HUYNH  08. 6684 6998"></a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </li>
                        <li>
                            <table>
                                <tr>
                                    <td>
                                        <a href="http://facebook.com.vn" target="_blank" title="Facebook"><img src="http://trungtamdongtien.com/upload/hinhanh/56357508.png" width="30" height="30" alt="Facebook"></a>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/" target="_blank" title="Twitter"><img src="http://trungtamdongtien.com/upload/hinhanh/14368396.png" width="30" height="30" alt="Twitter"></a>
                                    </td>
                                    <td>
                                        <a href="http://google.com.vn" target="_blank" title="Google"><img src="http://trungtamdongtien.com/upload/hinhanh/92146985.png" width="30" height="30" alt="Google"></a>
                                    </td>
                                    <td>
                                        <a href="http://youtube.com" target="_blank" title="Youtube"><img src="http://trungtamdongtien.com/upload/hinhanh/31549460.png" width="30" height="30" alt="Youtube"></a>
                                    </td>
                                </tr>
                            </table>
                           
                        </li>
                    </ul>
                    <br />
                    <ul class="menu">
                        <li class="heading">Học lái xe</li>
                        <li>
                            <a href="hoc-lai-xe/hoc-bang-lai-xe-mo-to-a2-ho-so-thi-bang-lai-xe-mo-to-a2-dang-ky-thi-bang-lai-xe-mo-to-a2-8.html" title="Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2">Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2</a>
                        </li>
                        <li>
                            <a href="hoc-lai-xe/hoc-bang-lai-xe-mo-to-a2-ho-so-thi-bang-lai-xe-mo-to-a2-dang-ky-thi-bang-lai-xe-mo-to-a2-8.html" title="Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2">Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2</a>
                        </li>
                    </ul>
                    <br />
                    <ul class="menu">
                        <li class="heading">Thống kê truy cập</li>
                        <li>
                            
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div id="main">
                <div id="main-inner">
                    @RenderBody()
                </div>

            </div>

        </div>
    </div>
    @{Html.RenderAction("footer", "Home");}
</body>
</html>
