<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" media="screen and (max-width:900px)" />
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/marquee.js"></script>
    <link href="~/Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <div>
            <div style="width: 30%; float: left; height: 190px;">logo here</div>
            <div style="width: 70%; float: left; height: 190px;">script here</div>
        </div>
        
        
        <div id="marquee" style="height:25px;margin:0 auto; width:100%;">
            <p id="marquee" style="height:25px;margin:0 auto; width:100%;">
                HÂN HẠNH ĐƯỢC ĐÓN TIẾP QUÝ KHÁCH ! - xin Cảm Ơn học viên đã Lựa chọn học lái xe tại Trung Tâm ! - CHÚC QUÝ KHÁCH NĂM MỚI AN KHAN THỊNH VƯỢNG
            </p>
        </div>
        <script>
            $(document).ready(function () {
                jQuery('#marquee').marquee();
            });
        </script>
        <!-- begin navigation -->
        <!-- end navigation -->
    </div>
   
    @{Html.RenderAction("menu", "Home");}
    <div id="container">
        @{Html.RenderAction("slider", "Home");}
        <div id="body" class="clearfix">
            <div class="side side-expanded">
                <div class="side-inner">
                    <ul class="menu">
                        <li class="heading">Hỗ trợ trực tuyến</li>
                    </ul>
                    <ul class="menu">
                        <li class="heading">Hỗ trợ trực tuyến</li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <div id="main-inner">
                    @RenderBody()
                </div>

            </div>

        </div>
    </div>
    @{Html.RenderAction("footer", "Home");}
</body>
</html>
