<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/css/responsive.css" rel="stylesheet" media="screen and (max-width:900px)" />*@
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/js/marquee.js"></script>
    <link href="~/Content/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <div id="header">
            @{Html.RenderAction("header", "Home");}
            @{Html.RenderAction("marquee", "Home");}
            <!-- begin navigation -->
            <!-- end navigation -->
        </div>

        @{Html.RenderAction("menu", "Home");}
        @{Html.RenderAction("slider", "Home");}
        <div id="" class="clearfix">
            <div class="side side-expanded">
                <div class="side-inner">
                    @{Html.RenderAction("moduleContact", "Home");}
                    <br />
                    <ul class="menu">
                        <li class="heading">Học lái xe</li>
                        <li>
                            <a href="hoc-lai-xe/hoc-bang-lai-xe-mo-to-a2-ho-so-thi-bang-lai-xe-mo-to-a2-dang-ky-thi-bang-lai-xe-mo-to-a2-8.html" title="Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2">Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2</a>
                        </li>
                        <li>
                            <a href="hoc-lai-xe/hoc-bang-lai-xe-mo-to-a2-ho-so-thi-bang-lai-xe-mo-to-a2-dang-ky-thi-bang-lai-xe-mo-to-a2-8.html" title="Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2">Học bằng lái xe mô tô A2 | Hồ sơ Thi bằng lái xe Mô tô A2 | Dang ky thi bang lai xe Mo to A2</a>
                        </li>
                    </ul>
                    <br />
                    <ul class="menu">
                        <li class="heading">Thống kê truy cập</li>
                        <li>
                            
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div id="main">
                <div id="main-inner">
                    @RenderBody()
                </div>

            </div>

        </div>
        @{Html.RenderAction("footer", "Home");}
    </div>
    
</body>
</html>
